@model VirtualClasses.Models.ViewModels.TeacherCourseViewModel
@{
    ViewBag.Title = "Quizzes Results - " + Model.course.Title;
}

<h1 class="myriad-pro-font"><a href="/Teacher/Class?Id=@Model.course.Id">@Model.course.Title</a></h1>
<hr />
<h3 class="myriad-pro-font">Quizzes Results</h3>
@if (Model.course.Quizzes.Count == 0)
{
    <p class="myriad-pro-font">No Quizzes</p>
}
else
{
    int i = 0;
    <table class="table table-striped table-condensed table-hover myriad-pro-font">
        <tr>
            <th>#</th>
            <th>Student Name</th>
            @foreach (var q in Model.course.Quizzes){
                <th>@q.Title</th>
            }
        </tr>
        @foreach (var s in Model.course.Students)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@s.FirstName @s.LastName</td>
                @foreach (var q in s.QuizSolutions)
                {
                    <td>@q.Marks</td>
                }
            </tr>
        }
    </table>
}